@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@800;900&display=swap');
@import url('http://fonts.cdnfonts.com/css/clap-hand');


::-webkit-scrollbar{width: 15px}
::-webkit-scrollbar-track{background-color: #FCFCFC}
::-webkit-scrollbar-thumb{
    border-left: 3px solid #FCFCFC;
    border-right: 3px solid #FCFCFC;
    background: #000000;
}
